# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/Freentship_Shipper/node_modules/
/Freentship_Shipper/.expo/
/Freentship_Shipper/dist/
/Freentship_Shipper/npm-debug.*
/Freentship_Shipper/*.jks
/Freentship_Shipper/*.p8
/Freentship_Shipper/*.p12
/Freentship_Shipper/*.key
/Freentship_Shipper/*.mobileprovision
/Freentship_Shipper/*.orig.*
/Freentship_Shipper/web-build/
package-lock.json
/Freentship_Shipper/yarn.lock
# macOS
/Freentship_Shipper/.DS_Store
/Freentship_Shipper/.expo-shared